.results {
    text-align: center;
    max-width: 500px;
    margin: auto;

    .flights {
        list-style-type: none;
        display: flex;
        flex-direction: column;
        -webkit-padding-start: 0;
        padding: 0;
        margin-top: 30px;

        .flight {
            display: flex;
            flex: 1;
            align-items: center;
            border-bottom: 1px solid #3498db;
            cursor: pointer;
            padding-top: 5px;
            padding-bottom: 5px;

            &:nth-child(odd) {
                background: #e4f4ff;
            }

            &:hover {
                background: #c7e3f7;
            }

            .flight_img {
                width: 32px;
                min-width: 32px;
                height: 32px;
                display: inline-block;
                float: left;
                margin-left: 10px;

                &.takeoff {
                    background:url(../components/results/icons/plane-takeoff.png) top left repeat-x;
                }
                
                &.landing {
                    background:url(../components/results/icons/plane-landing.png) top left repeat-x;
                }
            }

            .flight_date {
                display: block;
                margin: 0 10px 5px 5px;
            }

            .flight_price {
                display: block;
                width: 50px;
                min-width: 50px;
            }
        }

        .flight_empty {
            font-size: large;
            opacity: 0.8;
        }
    }    
}
