<form name="sc.form" id="search" novalidate>

    <ui-select ng-model="sc.flight.origin.selected" theme="select2" style="width: 300px;" title="Flying from..."
        on-select="sc.onOriginSelected($select.selected.code)">
        <ui-select-match placeholder="Flying from..." >{{$select.selected.fullName}}</ui-select-match>
        <ui-select-choices
            repeat="airport in sc.airports"
            refresh="sc.getOrigins($select.search)"
            refresh-delay="200"
            minimum-input-length="2">
            <span ng-bind-html="airport.name | highlight: $select.search"></span>
            <small ng-bind-html="airport.code | highlight: $select.search"></small>
        </ui-select-choices>
    </ui-select>

    <input type="date" name="dateStart" ng-model="sc.flight.dateStart" />

    <ui-select ng-model="sc.flight.destination.selected" theme="select2" search-enabled="false" style="width: 300px;" title="Flying to...">
        <ui-select-match placeholder="Flying to...">{{$select.selected.fullName}}</ui-select-match>
        <ui-select-choices repeat="route in sc.routes">
            <span ng-bind-html="route.name | highlight: $select.search"></span>
            <small ng-bind-html="route.code | highlight: $select.search"></small>
        </ui-select-choices>
    </ui-select>

    <input type="date" name="dateEnd" ng-model="sc.flight.dateEnd" />

    <input type="submit" ng-click="sc.go()" value="Search">

</form>